


html,
body {
    height: 100%;
    color: #333;
    background: #fff;
}
#root,.app {
    height: 100%;
}
.mapIndex{
    height: 100%;
}
#container{
    height: calc(100% - 45px)
}
h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding:0;
}

ul,li {
    list-style: none;
}

* {
    touch-action: pan-y;
    box-sizing: border-box;
}